@import './colors.scss';

.house-app-button {
  font-size: 1rem;
  background-color: $colorGray;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 15px;
  margin: 10px 0;
}

.house-app-button:hover {
  box-shadow: 3px 3px 3px $colorShadow;
}